* {
    margin: 0;
    padding: 0;
    background-color:rgba(222, 228, 222, 0.2);
}

#img {
    width: 18vw;
    min-width: 180px;
    min-height: 150px;
    height: 32vh;
    box-shadow:rgba(222, 228, 222, 0.2) 0px 0px 24px; 
    transition: width 0.5s, height 0.5s;
    &:hover {
        width: 19vw;
        height: 33vh;
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    &:hover {
        color: blue;
        text-decoration: solid;
    }
}
