.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "header header header"
        "left-section__1 middle-section__1 right-section__1"
        "left-section__2 middle-section__2 right-section__2";
    gap: 0;
    background-image: url(./img/lm-cover.jpg);
    background-size: cover;
}

.header {
    grid-area: header;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left {
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-left: 5vw;
}

.header-right {
    width: 40vw;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
}

#headline {
    // background-color: grey;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0);
    &:hover {
        cursor: pointer;
        outline-style: ridge;
        outline-color: black;
        outline-width: 3px;
        box-shadow:rgba(0, 9, 14, 0.7) 0px 0px 40px; 
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding-top: 10px;
    color: black;
}

#text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-right: 2em;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img_AMT {
    align-items: center;
    color: black;
}

.vertical_text {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    color: black;
}

.img_vertical {
    display: flex;
    flex-direction: row;
}

.left-section__1 {
    grid-area: left-section__1;
}
.left-section__2 {
    grid-area: left-section__2;
}
.middle-section__1 {
    grid-area: middle-section__1;
    flex-direction: column-reverse;
}
.middle-section__2 {
    grid-area: middle-section__2;
    flex-direction: column-reverse;
}
.right-section__1 {
    grid-area: right-section__1;
}
.right-section__2 {
    grid-area: right-section__2;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: auto;
        grid-template-rows: 1fr 1.5fr 1fr 3fr 3fr 3fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "header header"
            "header header"
            "header header"
            "left-section__1 middle-section__1"
            "right-section__1 left-section__2"
            "middle-section__2 right-section__2";
    }

    .header {
            grid-area: header;
            width: 100%;
            padding: 1em;
            display: grid;
            grid-template-rows: subgrid;
            grid-template-columns: subgrid;
            background-color: rgba(0, 0, 0, 0);
        }

    .header-left {
            grid-row: 1/2;
            font-size: 1.8rem;
            color: rgb(204, 14, 52);
            display: flex;
            flex-direction: column;
            width: 100%;
            align-self: stretch;
            padding-bottom: 0.5rem;
        }

    .header-right {
            width: 90%;
            min-height: 100px;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            text-align: justify;
            box-sizing: content-box;
            color: aliceblue;
    }

    #text1 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        padding-top: 10px;
        padding-right: 0;
    }

    #headline {
        background-color: rgb(228, 222, 222);
        padding: 0;
        width: 60vw;
        &:hover {
            cursor: pointer;
        }
    }
    
    .left-section__1 {
        grid-area: left-section__1;
    }
    .left-section__2 {
        grid-area: left-section__2;
        flex-direction: column-reverse;
    }
    .middle-section__1 {
        grid-area: middle-section__1;
        flex-direction: column-reverse;
    }
    .middle-section__2 {
        grid-area: middle-section__2;
        flex-direction: column;
    }
    .right-section__1 {
        grid-area: right-section__1;
    }
    .right-section__2 {
        grid-area: right-section__2;
        flex-direction: column-reverse;
    }
    #img {
        grid-row: 3/4;
        min-width: 30vw;
        min-height: 150px;
        max-height: 25vh;
    }
}

